.recommended-friends {
  padding: 20px 0px;
  margin: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  font-size: 15px;
  color: var(--gray);
}

.recommended-friends span {
  display: block;
  margin: 70px 0px;
  text-align: center;
  color: var(--gray);
  font-size: 16px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-bottom: 25px;
}
.open-chat__header span {
  opacity: 0.8;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: var(--gray);
  margin-bottom: 7px;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 7px;
}

.open-post__member-count {
  color: var(--gray);
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: var(--gray);
  margin: 0px 5px;
}

.open-post__member-status {
  color: #f150b4;
}
.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  position: relative;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.55);
  color: rgba(255, 255, 255, 0.9);
  padding: 6px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: small;
}

.open-post__heart-count span {
  margin-left: 5px;
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 0.5s ease-in-out infinite;
}

@keyframes heartBeat {
  0%,
  100% {
    color: white;
    transform: none;
  }
  50% {
    color: rgba(248, 48, 171, 0.911);
    transform: scale(1.5);
  }
}
