#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  color: var(--gray);
  padding: 13px 0px;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: -10px;
}

#friends-display-link i {
  color: var(--mint);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 15px;
  border-top: var(--main-border);
  padding: 12px 0px;
}

.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  font-size: 13px;
}
